@import "../../../../../styles/const/colors/index.module";

.dropdownContent {
  &_background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  &_container {
    z-index: 1;
    position: fixed;
    max-width: 260px;
    border-radius: 8px;
    background-color: white;
    color: $primary-06;
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.10);
  }

  &_scroll {
    overflow-y: auto;
    max-height: 300px;
  }
}