.button {
  border: unset;
  border-radius: 1000px;
  background: rgba(172, 172, 172, 0.4);
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;

  .icon {
    transition: .3s;

    * {
      transition: .3s;
      fill: white;
    }
  }

  &:hover > .icon {
    transform: scale(1.1);
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(.99);
  }

  &:disabled {
    background: #bab2b2;
  }
}