@import "../../../../../styles/const/colors/index.module";

.checkMark * {
  fill: $primary-04;
}

.dropdownItem {
  padding-left: 10px;
  padding-right: 10px;
  height: 32px;
  cursor: pointer;
  border-radius: 4px;
  transition: .3s;

  &:hover {
    background-color: $primary-01;
  }

  &:active {
    background-color: $primary-02;
  }

  &_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &_disabled {
    color: $primary-03!important;
    cursor: not-allowed;
  }
}