@import "../../../styles/const/colors/index.module";
@import "../../../styles/const/sizes/index.module";
@import "../../../styles/const/fontSizes/index.module";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2147483649;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
    opacity: 0;
    overflow: auto;
    background-color: color-mix(in srgb, #000000 60%, white 0%);
    backdrop-filter: blur(2px);
  }
  .window {
    min-width: 350px;
    max-width: 70%;
    background: $primary-06;
    padding: $normal;
    z-index: 1;
    position: relative;
    opacity: 0;
    transition: .3s;
    display: flex;
    flex-direction: column;

    .loading {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, .7);

      img {
        width: 100px;
      }
    }
  }
}

.modal {
  &_visible {
    .background {
      opacity: 1;
    }
    .window {
      opacity: 1;
    }
  }

  &_hidden {
    .background {
      opacity: 0;
    }
    .window {
      opacity: 0;
      transform: scale(.01);
    }
  }

  &_hiddenDone {
    .background {
      opacity: 0;
    }
    .window {
      opacity: 0;
      transform: scale(.01);
    }
  }
}