.recorderContainer {
  position: relative;
  min-width: 800px;

  .recordingUtilsContainer {
    position: absolute;
    bottom: 24px;
    width: 100%;
    padding: 0 24px;
  }

  .headerContainer {
    position: absolute;
    top: 24px;
    width: 100%;
    padding: 0 24px;
  }
}