@import "../../../styles/const/colors/index.module";

.dropdownContainer {
  border-radius: 8px;
  cursor: pointer;
  height: 48px;
  transition: .3s;
  max-width: 100%;
  background: $white;
  border: 0.5px solid $primary-01;

  &_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_enabled {
    & * {
      color: $primary-06;
      fill: $primary-06;
    }

    &:hover {
      background-color: $primary-01;

    }

    &:active, &_active {
      background-color: $primary-02;
    }
  }

  &_disabled {
    cursor: not-allowed;
  }
}