.button {
  border: unset;
  border-radius: 28px;
  background: #f73c3c;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .3s;

  .icon {
    transition: .3s;

    * {
      transition: .3s;
      fill: white;
    }
  }

  &:hover > .icon {
    transform: scale(1.1);
  }

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(.99);
  }

  &:active > .icon {
    transform: scale(.01);
  }

  &:disabled {
    background: #bab2b2;
  }
}